@CHARSET "ISO-8859-1";

.sub1 {
	float: left;
	width: 50%;
	margin-top: 40px;
}

.sub2 {
	float: right;
	width: 50%;
	padding-top: 60px;
}

form h3 {
	text-align: center;
	color: black;
}

.main {
	width: 100%;
	height: 100%;
	color: black;	
}

/* body{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    
} */
.header, .footer {
	text-align: center;
	background-color: #2C3E50;
	color: white;
}
body{
	background-image: url("../images/background.jpg");
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden; 
}

#details {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
}

.navigation {
	padding-top: 70px;
	background-color: #EEF9FF;
	overflow: auto;
}

div.navbar-collapse li.tag2 a {
	color: black;
}

#prndetails {
	font-size: 17;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	width: 70%;
	margin: auto;
}

.sub3 {
	width: 100%;
}

#mapLoad {
width: auto; 
height: 600px;
}
h3{
	text-align: center;
}
